/*!
 *  saxjst personnal website theme by @saxjst - https://saxjst.com
 *  License - MIT License
 */
@import url(https://fonts.googleapis.com/css?family=Nunito:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 400light);
@import url(https://fonts.googleapis.com/css?family=Gothic+A1:400);

p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: #fff;
}

html,
body,
textarea,
button,
input {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Nunito", sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.42;
  text-align: left;
  color: #fff;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 63px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 300;
}

h1.logo {
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 2px;
}

h1.title {
  letter-spacing: 2px;
}

h2.small-heading {
  padding: 60px 0 20px 0;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #4285f4;
}

body {
  overflow: auto;
  background-color: #191a23;
  height: 100%;
  opacity: 0.8;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #4285f4;
  text-decoration: none;
}

.project {
  margin-bottom: 20px;
}

.explicit-link {
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.explicit-link:hover {
  box-shadow: inset 0 -1px 0 0 rgba(66, 133, 244, 1);
  cursor: pointer;
}

span {
  color: #4285f4;
}

.blue {
  color: #4285f4;
}

.space-block {
  margin-top: 60px;
}

.home-page {
  width: 100vw;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.main,
.menu {
  width: 100%;
  height: 100vh;
}

.main {
  float: left;
  padding: 0px 15px 15px 15px;
  overflow: visible;
  position: relative;
}

/* .main img {
  position: absolute;
  top: 0;
  left: 0;
} */

.main-content {
  position: relative;
  z-index: 10;
  opacity: 0.9;
}

.main-content h1 {
  color: #fff;
  text-align: center;
}

.main-content h1 span {
  color: #4285f4;
}

.main-content h2 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}

.main-projects {
  top: 5%;
}

.main-home {
  top: 30%;
}

.social-media {
  font-size: 25px;
  text-align: center;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  outline: 0 none;
  padding: 0 10px;
}

.social-media a:hover {
  color: #4285f4;
}

.nav-link {
  margin: 0px 3px 0px 30px;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  color: #4285f4;
  border-bottom: 1px solid transparent;
  border-bottom-color: #3273dc;
}

.active, .reverse {
  color: #4285f4 !important;
}

.active:hover {
  color: #4285f4;
  border: none;
  border-bottom-color: #3273dc;
}

.reverse:hover {
  color: #fff !important;
}

.bl {
  border: 1px solid blue;
}

.half {
  width: 50%;
}

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 1px;
  opacity: 0.1;
}

.thumbnail {
    left: 4px;
    width: 46px;
    height: 46px;
    /* display: flex; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    pointer-events: none;
    overflow: hidden;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 4px;
}

.pointer {cursor: pointer;}

/* Responsive css*/

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 27px;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    background: url(../images/icon/close_sm.png);
    background-size: cover;
  }

  .image-container {
    height: 500px;
    position: relative;
  }

  .content-container {
    left: 0;
  }
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

/* Carousel */

blockquote,  {
    border-left: none;
    margin: 0;
}
blockquote .citation:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color: #4285f4;
}

.btn-outline-perso {
    color: #4285f4;
    border-color: #4285f4;
}

.btn-outline-perso:hover {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-outline-perso:hover > span {
    color: #fff !important;
}

.fa, .fab, .far, .fas {
    font-size: 25px;
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  .heading h3 {
    font-size: 13px;
  }

  .story-content div {
    margin-top: 20px;
  }

  .education-container:before,
  .experience-container:before {
    display: none;
  }

  .education-content,
  .experience-content {
    width: 100%;
    margin-left: 0;
  }

  .education-content h3,
  .experience-content h3 {
    text-align: center;
  }

  .education-content h3:before,
  .experience-content h3:before {
    display: none;
  }

  .space-block {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .main-content h1 {
    font-size: 30px;
  }

  .main-content h2 {
    font-size: 20px;
  }
}
