<div>
  {% if links.mainLinks %}
  {% for item in links.mainLinks %}
  {% if item.isVisible %}

  <a class="btn btn-outline-custom btn-lg btn-block" role="button" style="display: flex; align-items: center;" href="{{item.url}}"  target="_blank">
    {% if item.thumbnail %}
    <span style="display: block;"><img src="{{item.thumbnail}}" class="rounded float-left thumbnail" style="width:30px;height:30px;" title="{{item.title}}" /></span>
    {% endif %}

    {% if item.thumbnail %}
    <span class="col-sm-11">{{item.desc}}</span>
    {% else %}
    <span class="col-sm-12">{{item.desc}}</span>
    {% endif %}
  </a>

  <br/>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>
